
restApi/restApi/restApi/.env
restApi/restApi/restApi/__pycache__/settings.cpython-38.pyc
restApi/restApi/restApi/__pycache__/settings.cpython-38.pyc
restApi/restApi/restApplication/__pycache__/urls.cpython-38.pyc
restApi/restApi/restApplication/__pycache__/views.cpython-38.pyc
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
